.ellipsisText{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.container{margin:20px auto;position:relative;height:600px;box-shadow:0 0 2px 0 rgba(0,0,0,.2);-webkit-box-shadown:0 0 2px 0 rgba(0,0,0,.2);-moz-box-shadown:0 0 2px 0 rgba(0,0,0,.2);-ms-box-shadown:0 0 2px 0 rgba(0,0,0,.2)}.container:after,.content{
	position:absolute;
	width:1202px;
	height:100%;
	left: 2px;
	top: 2px;
}
.container:after,.content img{
	height:100%}
	
	.container:after{z-index:1;content:" ";height:500px;top:50px;border-radius:160px;-moz-border-radius:160px;-webkit-border-radius:160px;box-shadow:0 0 12px 1px rgba(0,0,0,.15);-webkit-box-shadown:0 0 12px 1px rgba(0,0,0,.15);-moz-box-shadown:0 0 12px 1px rgba(0,0,0,.15);-ms-box-shadown:0 0 12px 1px rgba(0,0,0,.15)}.content{z-index:2;overflow:hidden;background:#}.grid-c2{ padding:30px 50px}.grid-c2 h2{height:60px;line-height:60px;font-size:20px;border-bottom:1px dotted #ccc;cursor:default;color:#666;margin-bottom:10px}.sidebar-nav{display:none}
